@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Silkscreen:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Specific styles for headings and paragraphs */
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Silkscreen', sans-serif;
}
/* Apply Jersey 10 font as default */
body {
  color: var(--foreground);
  background: var(--background);
    font-family: 'Jersey 10', sans-serif;
}

/* Additional font styles */
h2, p {
    font-family: 'Silkscreen', sans-serif;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.word-wrap {
  word-wrap: break-word; /* Ensures long words wrap */
  overflow-wrap: break-word; /* Also helps with wrapping */
}
