@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--foreground);
  background: var(--background);
    font-family: 'Pixelify Sans', 'sans-serif';
}

/* Additional font styles */
h2, p {
    font-family: 'Silkscreen', sans-serif;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.word-wrap {
  word-wrap: break-word; /* Ensures long words wrap */
  overflow-wrap: break-word; /* Also helps with wrapping */
}
